build/
export/
Makefile.local
version
packer/*/*-cloud-init.iso
packer/*/*-context.iso
packer/*/context/
context-windows/out/
context-windows/*.msi
context-windows/rhsrvany.exe
context-windows/.idea
context-windows/.un~
context-linux/out/
context-linux/*.rpm
context-linux/*.deb
context-linux/.vagrant*/
context-linux/*~bak
