build/
export/
Makefile.local
version
packer/*/*-cloud-init.iso
packer/*/*-context.iso
packer/*/context/
context-windows/out/
context-windows/*.msi
context-windows/rhsrvany.exe
context-windows/.idea
context-windows/.un~
context-linux/out/
context-linux/*.rpm
context-linux/*.deb
context-linux/.vagrant*/
context-linux/*~bak
.vscode

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Exclude all .tfvars files, which might contain sensitive data, such as
# password, private keys, and other secrets. These should not be part of version control
# as they can contain sensitive data.
*.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore CLI configuration files
.terraformrc
terraform.rc

# ignore test results
appliances/lib/community/results
