{
  "extends": [
    "opennebula",
    "plugin:cypress/recommended",
    "plugin:mocha/recommended"
  ],
  "overrides": [
    {
      "files": ["cypress/integration/**/*.js"],
      "rules": { "no-unused-expressions": "off" }
    }
  ]
}
