<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ONE - Dynamo Appliance</title>
    <!-- Link to Local Materialize CSS -->
    <link rel="stylesheet" href="static/css/materialize.min.css">
    <!-- Link to Local Material Icons -->
    <link href="static/css/material-icons.css" rel="stylesheet">
    <!-- Link to Local CSS -->
    <link rel="stylesheet" href="static/css/style.css">
    <!-- Link to Local Favicon -->
    <link rel="icon" type="image/png" href="static/logos/logo.svg">
</head>
<body>

<div class="chat-container">
    <div class="header">
        <img src="static/logos/logo.svg" alt="Logo"> <!-- Local logo path -->
        <h1>Dynamo Appliance</h1>
    </div>
    <div class="chat-history" id="chat-history">
        <!-- Messages will be displayed here -->
    </div>
    <div class="input-container">
        <input type="text" id="message-input" class="input-field" placeholder="Type a message..." onkeypress="handleKeyPress(event)">
        <button class="btn waves-effect waves-light send-btn" onclick="sendMessage()">
            <i class="material-icons">send</i>
        </button>
    </div>
</div>

<script src="static/js/marked.min.js"></script>

<!-- Link to Local JavaScript -->
<script src="static/js/script.js"></script>


</body>
</html>
